body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
/* Welcome page */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.start-page {
    background-color: #24be88b3;
    padding: 150px;
    margin: 0px;
}

.welcome-message {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #b87084;
    text-decoration-thickness: 4px; 
}

.start-button {
    background-color: #b87084;
    display: flex;
    justify-self: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: #b87084;
    cursor: pointer;
}

/* Player section */
.player-selection-page {
    background-color: #b87084;
    padding: 10px;
    margin: 0;
    padding-bottom: 10px;
    border: 1px solid transparent;

}

.name-and-sign {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 62px;
    padding-top: 11px;
    padding-bottom: 6px;
    text-decoration: underline;
    text-decoration-color: #24be88b3;
    text-decoration-thickness: 4px; 
}

.main-player-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

.form-group1,
.form-group2,
.form-group3,
.form-group4 {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 28px;
    background-color: #2cd79bb3;
    border-radius: 25px;
    height: 65.5px;
    width: 500px;
    margin: 10px;
}

.Player1name,
.Player1sign,
.Player2name,
.Player2sign {
    align-self: center;
}

.Player-input {
    background-color: #b87084;
    font-family: 'Dancing Script', cursive;;
    font-size: 25px;
    margin: 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 19px;
}

.button {
    display: flex;
    justify-content: center;
}

.submit {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    background-color: #2cd79bb3;
    cursor: pointer;
}

/* Game section */
.game-section {
    background-color: #24be88b3;
    margin: 0;
    padding-top: 0;
    border: 1px solid transparent;
    padding-bottom: 200px;

}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-color: #b87084;
    text-decoration-thickness: 4px; 
}

.grid {
    background-color: #b87084;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    border-color: rgb(0, 0, 0);
    border: solid;
    height: 372px;
    width: 678px;
    font-size: 70px;
}

#cell {
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: rgb(33, 31, 31);
    border: solid;
    width: 183px;
    height: 2px;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.cell0, 
.cell1, 
.cell2, 
.cell3, 
.cell4, 
.cell5, 
.cell6, 
.cell7, 
.cell8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Winner section */
.winner-draw-section {
    background-color: #b87084;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner_or_draw {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}