body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Welcome page */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.start-page {
    background-color: #24be88b3;
    padding: 300px;
}

.welcome-message {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: #b87084;
    text-decoration-thickness: 4px; 
}

.start-button {
    background-color: #b87084;
    display: flex;
    justify-self: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: #b87084;
    cursor: pointer;
}

/* Player section */
.player-selection-page {
    background-color: #b87084;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 50px;
    border: 1px solid transparent;
    display: none;
}

.name-and-sign {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 62px;
    padding-top: 11px;
    padding-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #24be88b3;
    text-decoration-thickness: 4px; 
}

.main-player-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

.form-group1,
.form-group3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 28px;
    background-color: #2cd79bb3;
    border-radius: 25px;
    height: 65.5px;
    width: 500px;
    margin: 10px;
}

.Player1name,
.Player2name,
.Player1sign,
.Player2sign {
    align-self: center;
}

.form-group2,
.form-group4 { 
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 28px;
    background-color: #2cd79bb3;
    border-radius: 25px;
    height: 65.5px;
    width: 300;
    margin: 10px;
    padding: 8px;
    padding-top: 10px;
    align-self: center;
}


.Player-input1,
.Player-input2 {
    background-color: #b87084;
    font-family: 'Dancing Script', cursive;;
    font-size: 25px;
    margin: 10px;
    border-radius: 16px;
    font-weight: bold;
    margin-left: 19px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.submit {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    background-color: #2cd79bb3;
    cursor: pointer;
}

.player1-buttons,
.player2-buttons {
    padding-left: 10px;
    align-self: center;
}

.player1-X-button,
.player1-O-button,
.player2-O-button,
.player2-X-button {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #b87084;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    border-width: 3px;
    cursor: pointer;
    justify-content: center;
}

.selected {
    border-color: red !important;
    border-width: 3px;
}

/* Game section */
.game-section {
    background-color: #24be88b3;
    margin: 0;
    padding-top: 0;
    border: 1px solid transparent;
    padding-bottom: 200px;
    display: none;

}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-color: #b87084;
    text-decoration-thickness: 4px; 
    margin: 20px;
}

.rule {
    justify-self: center;
    align-self: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 25px;
    margin: 20px;
    margin-bottom: 30px;
    color: #020202;
    text-decoration: underline;
    text-decoration-color: #b87084;
    text-decoration-thickness: 3px;
}

.player-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    align-self: center;
    width: 300px;
    margin: 20px;
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 20px;
}
#summary {
    justify-self: center;
    align-self: center;
}

.grid {
    background-color: #b87084;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    border-color: rgb(0, 0, 0);
    border: solid;
    height: 372px;
    width: 678px;
    font-size: 70px;
}

#cell {
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: rgb(33, 31, 31);
    border: solid;
    width: 183px;
    height: 2px;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.cell0, 
.cell1, 
.cell2, 
.cell3, 
.cell4, 
.cell5, 
.cell6, 
.cell7, 
.cell8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Winner section */
.winner-draw-section {
    background-color: #24be88b3;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw; 
    height: 100vh;
    display: none;
    z-index: 1000;
}

.winner_box {
    background-color: #b87084;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    display: block;
    padding: 100px;
    max-width: 90vw;
    min-width: 400px;
    width: 600px;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}

.restart {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    background-color: #2cd79bb3;
    cursor: pointer;
}